@model VivesRental.Domains.EntitiesDB.Article
@using VivesRental.Domains.Enums

@{
    ViewData["Title"] = "Artikeldetails";
}

<h1>Artikeldetails</h1>

<hr />
<dl class="row">
    <dt class="col-sm-3">Product</dt>
    <dd class="col-sm-9">@Model.Product?.Name</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">@GetStatusName(Model.Status)</dd>

    <dt class="col-sm-3">Artikel ID</dt>
    <dd class="col-sm-9">@Model.Id</dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Bewerk</a>
    <a asp-action="Index" class="btn btn-secondary">Terug naar overzicht</a>
</div>

@functions {
    string GetStatusName(VivesRental.Domains.Enums.ArticleStatus status)
    {
        return status switch
        {
            VivesRental.Domains.Enums.ArticleStatus.Beschikbaar => "Beschikbaar",
            VivesRental.Domains.Enums.ArticleStatus.Verhuurd => "Verhuurd",
            VivesRental.Domains.Enums.ArticleStatus.Gereserveerd => "Gereserveerd",
            VivesRental.Domains.Enums.ArticleStatus.Kapot => "Kapot",
            _ => "Onbekend"
        };
    }
}

