@{
    ViewData["Title"] = "Dashboard";
}

<h1>VivesRental Dashboard</h1>

<div class="row">
    <div class="col-md-4">
        <a href="/Product" class="btn btn-outline-primary w-100 mb-3">Productbeheer</a>
        <a href="/Article" class="btn btn-outline-primary w-100 mb-3">Artikelbeheer</a>
        <a href="/Customer" class="btn btn-outline-primary w-100 mb-3">Klanten</a>
    </div>
    <div class="col-md-4">
        <a href="/Order/Start" class="btn btn-outline-success w-100 mb-3">Nieuwe Verhuuring</a>
        <a href="/Order/Overview" class="btn btn-outline-secondary w-100 mb-3">Bestellingen</a>
        <a href="/Order/SearchReturn" class="btn btn-outline-danger w-100 mb-3">Artikelen Terugbrengen</a>
    </div>
    <div class="col-md-4">
        <a href="/Reservation" class="btn btn-outline-info w-100 mb-3">Reserveringen</a>
        <a href="/Reservation/Create" class="btn btn-outline-success w-100 mb-3">Nieuwe Reservering</a>
        <a href="/swagger" class="btn btn-outline-secondary w-100 mb-3">Swagger</a>
    </div>
</div>
